#root {
	background-color: pink;
}

#answers {
	background-color: yellow;
}

.content {
	color: blue;
}

.answers {
	color: grey;
}

.answer {

}

.answer-who {
	
}

.avatar {

}

.answer-content {
	
}

.results-movies {

}

.result {

}

.figure-result {

}

.footer-result {
	
}